.badges-outer {
  h2 {
    color: #30313B;
    margin-top: 70px;
  }

  .badges-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    padding-top: 70px;
    padding-bottom: 150px;
    justify-content: space-between;

  }

  .badge-item {
    height: 50vh;
    margin: 15px auto;
    background: #F1F1F1;
    border-radius: 30px;
  }
}