.scoreboard-tab--wrapper {
  h2 {
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    color: #30313B;
  }
}

.scoreboard-table {
  td {
    vertical-align: middle;
  }

  .scoreboard-tab-table-head {
    tr th {
      font-size: 18px;
      color: #30313B;
    }
  }

  .scoreboard-row {
    .scoreboard-no {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #6B7AFF;
      color: #fff;
      border-radius: 50%;
    }

    .scoreboard-address {
      margin-right: 35px;
    }

    img {
      width: 40px;
      margin-right: 20px;
    }
  }
}