.collaborators-wrapper{
  display: flex;
  flex-wrap: wrap;

  h2{
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    color: #30313B;
    margin-bottom: 70px;
  }


}
.collaborators-list-wrapper{
  width:100%;
  h2{
    margin-top:70px;
  }
}
.collaborators-btn-wrapper{
  width: 50%;
  text-align: center;
}
.collaborators-list-title,.collaborators-list-address{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  color: #30313B;
  margin-bottom: 30px;
}
.collaborators-list-address{
  font-weight: 400;
  img{
    margin-left: 25px;
  }
}


.collaborators-list-outer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}