.badge-item--wrapper{
  width:calc(50% - 20px);
  position: relative;
  margin-bottom: 40px;
  img{
    width:100%;
  }
  span{
    width: fit-content;
    padding:21px 37px;
    text-align: center;
    display: inline-block;
    background: rgba(48, 49, 59, 0.3);
    border-radius: 30px;
    font-family: 'Arial',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top:42px;
    right:47px;
  }
  .badge-status{
    position: absolute;
    top: 10%;
    right: 9%;
    width: 33%;
  }
  span.vote{
    background: #FFFFFF;
    color: #30313B;
  }
}

.badgeItemInfoTitle {
  font-size: 20px;
  font-weight: bold !important;
}

.badgeItemInfoBody {
  font-size: 16px;
}
