.app-navbar{
  padding:40px 50px;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-end;
  align-items: center;
  background: #E9EBF5;
  span{
    flex-grow: 1;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #30313B;
  }
  button.dropdown-toggle{
    padding: 0px;
  }

  .dropdown-menu{
    border-radius: 30px;
    padding:40px 0px;
    border: 1px solid #DDE0EF;
  }
  .dropdown-header{
    text-transform: uppercase;
    font-family:'Rubik',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #A8A9B7;
    padding: 3px 38px;
  }
  .dropdown-item{
    font-family:'Rubik',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #30313B;
    padding: 0px 38px;
    margin-bottom: 25px;
&:last-child{
  margin-bottom: 0px;
  margin-top: 25px;
}
  }

}